body{
    background-color: #0E1116;
}

.pointer:hover {
    cursor: pointer;
}

.tooltip {	
    position: absolute;			
    text-align: center;					
    padding: 2px;				
    font: 16px sans-serif;		
    background: white;	
    width: 200px;
    border: 3px;		
    border-radius: 8px;			
    pointer-events: none;	
    border-style: solid;
}
