:root{
    /* CSS VARIABLES TO MAKE GRAPHS COHESIVE */
    --background: #ffffff;
    --text: #272727;
    --yellow: #FFD12E;
    --gray: #D9D9D9;
    --lavender: #CBD0FF;
    --lightgrey: #9499A9;
    --orange: #ED8000;
    --green: #90BBA9;
}


body{
    background-color: var(--background);
    color: var(--text);
    height: 100%;
    width: min-content;
    margin: auto;
}

body.admin{
background-color: #0E1116;
color: #ffffff;
font-family: "Times New Roman", "Times", serif !important;

}

body.schedule{


}

body.sun{

}