@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,700;0,800;1,400;1,700&display=swap');

:root{
    --bg: #ffffff;
    --text:#434242;

    --yellow:#FFD569;
    --pink: #F4E2E2;
    --blue: #E2EEF1;
    --brown: #451703;
    --green: #90BBA9;

    --lightgrey:#e5e5e5;
    --medgrey:#D7D7D7;
}