body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

text.hourText{
    text-anchor: middle;
    dominant-baseline: middle;
    font-size: 14px;
}

text.tickLabel{
    font-size: 12px;
    transform: translate(2px, 24px);
    font-weight: 600;
}

path.sunLines{
    fill: var(--yellow);
    stroke: var(--yellow);
    stroke-width: 4px;
    stroke-opacity: 1;
    fill-opacity: 0.5;
}

circle.lightPoint{
    fill: var(--orange);
}

circle.lightPoint:hover{
    cursor:pointer;
}

path.sunArc{
    transform: translate(400px, 400px);
    opacity: 0.3;
    fill: var(--lightgrey);
}

path.classArc{
    transform: translate(400px, 400px);
    opacity: 0.5;
    fill: var(--lavender);
    transition: all 0.2s ease-in-out;
}

svg{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h1{
    font-size: 16px;
    text-align: center;
}

