text {
    font-family: Arial, Helvetica, sans-serif;
    fill: var(--text);
}

.title {
    text-anchor: middle;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.message {
    min-width: 40%;

}
