text {
    font-family: Arial, Helvetica, sans-serif;
    fill: var(--text);
}

.title {
    text-anchor: middle;
}

.sunlight-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.message {
    text-align: center;
}
