text {
    font-family: Arial, Helvetica, sans-serif;
    fill: var(--text);
    stroke: transparent;
}

.container {
    display: flex;
    flex-direction: row;
}

.title {
    text-anchor: middle;
}

.slider {
    stroke: var(--text);
    fill: transparent;
}

.ideal-range-temperature {
    stroke: transparent;
    fill: var(--sun-dashboard-temperature);
}

.ideal-range-humidity {
    stroke: transparent;
    fill: var(--sun-dashboard-humidity);
}

.pointer {
    fill: var(--text);
}
