body{
    font-family: "Noto Sans";
}


rect.outside-blocks{
    fill: var(--yellow);
    stroke: transparent;
    outline: none;
    fill-opacity: 0.3;
}

.line {
    fill: none;
    stroke-width: 2px;
}


path {
    stroke-width: 1;
    fill: none;
}

.humidline {
    stroke: #25b3be;
    stroke-width: 2px;
}

.templine {
    stroke: #Ff800c;
    stroke-width: 2px;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis path {
  display: none;
}

.x.axis text {
    font-size: 14;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

.y.axis text {
    font-size: 14;
}

.info{
    position: fixed;
    top: 20px;
    left: 10%;
    font-size: 12px;
    background-color: var(--background);
    max-width: 150px;
}
.hoverInfo{
    font-size: 14px;
}

.legend{
    padding: 10px;
}

.legendLine{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon{
    width:10px;
    height:10px;
    margin-right: 8px;
    min-width:10px;
}

.icon.tempicon{
    background-color: #Ff800c;
    border-radius: 8px;
}

.icon.lighticon{
    background-color: var(--yellow);
}

.icon.humidicon{
    background-color: #25b3be;
    border-radius: 8px;
}

/* set media query to prevent legend and map from overlapping */

@media (max-width:1148px) {
    .info{
        left: 2%;
    }
    
}

@media(max-width: 940px){
    .info{
        position: relative;
        left: 0%;
        max-width: 300px;
    }

}