.info{
    position: fixed;
    top: 20px;
    left: 10%;
    font-size: 12px;
    background-color: var(--background);
    max-width: 150px;
}
.hoverInfo{
    font-size: 14px;
}

.legend{
    border: solid 1px var(--text);
    padding: 10px;
}

.legendLine{
    display: flex;
    flex-direction: row;
    align-items: center;
}
