.info{
    position: fixed;
    top: 20px;
    left: 5%;
    font-size: 10px;
    background-color: #0E1116;
    max-width: 150px;
}
.hoverInfo{
    font-size: 14px;
}

.legend{
    border: solid 1px var(--text);
    padding: 10px;
}

.legendLine{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon{
    width:10px;
    height:10px;
    margin-right: 8px;
    min-width:10px;
}

.icon.recicon{
    background-color: #2ECC71;
    border-radius: 8px;
    opacity: 0.3;
}
@media(max-width: 1200px){
    .info{
        position: relative;
        left: 0%;
        max-width: 300px;
    }

}